services:
  # --- Bases de Datos PostgreSQL ---
  postgres-trips:
    image: postgres:14-alpine
    container_name: postgres-trips
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=db_trips
    volumes:
      - postgres_trips_data:/var/lib/postgresql/data

  postgres-passengers:
    image: postgres:14-alpine
    container_name: postgres-passengers
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=db_passengers
    volumes:
      - postgres_passengers_data:/var/lib/postgresql/data

  postgres-payments:
    image: postgres:14-alpine
    container_name: postgres-payments
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=db_payments
    volumes:
      - postgres_payments_data:/var/lib/postgresql/data

  postgres-notifications:
    image: postgres:14-alpine
    container_name: postgres-notifications
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=db_notifications
    volumes:
      - postgres_notifications_data:/var/lib/postgresql/data

  # --- Broker de Mensajería (Confluent) ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - '2181:2181'
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - '${KAFKA_BROKER_PORT}:${KAFKA_BROKER_PORT}' # 9092
    depends_on:
      - zookeeper
    environment:
      KAFKA_PROCESS_ROLES: ''
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9093,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

  # --- Seguridad (IAM) ---
  keycloak:
    image: quay.io/keycloak/keycloak:21.0.1
    container_name: keycloak
    command: start-dev --import-realm
    ports:
      - "8888:8080"
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
    volumes:
      - ./ecoride-realm.json:/opt/keycloak/data/import/ecoride-realm.json

  # --- Observabilidad ---
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    # volumes:
    #   - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  postgres_trips_data:
  postgres_passengers_data:
  postgres_payments_data:
  postgres_notifications_data:
  grafana_data:
  # Nota: Zookeeper y Kafka de Confluent no necesitan volúmenes explícitos para este dev setup.